.container {
  border: 2px solid black;
  margin-left: 10px;
  background-color: #E6E6E6;
  min-height: 1150px;
  margin-left: auto;
}
.jumbotron {
   background-color: #F3E2A9;
   background-size: 100% 100%;
}
.col-md-4 {
  background-color: #088A4B;
  min-height: 875px;
  margin-left: ;
}

}
