.container {
  border: 2px solid black;

  background-color: #E6E6E6;
  min-height: 1150px;

}
.jumbotron {
   background-color: #E8AF66;
   background-size: 100% 100%;
}
.col-md-4 {
  background-color: #088A4B;
  min-height: 875px;
  margin-left: ;
}
h4 {
  color: white;
}
.Viktor {
  color: #E8B068;
}
